@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main d-flex flex-column">
    @*<div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>*@

    <div class="content p-4 flex-fill d-flex">
        @Body
    </div>
</div>
